{% extends "layout.html" %}
{% block content %}
    <div id="centerDiv" class="container">
        <h1>
            Welcome to Portland General Bank
        </h1>
        <div class="squareBack">
            <p>
                Please Enter your Pin here to login:
            </p>
            <form action="" method="post">
                <input type="number" placeholder="Pin" name="pin" value="{{ request.form.pin }}">
                <button type="submit">Login</button>
            </form>
            {% if error %}
                <p class="error">Error: {{ error }}</p>
            {% endif %}
            <p>
                Need to create an account?
            </p>
            <button onclick="window.location.href= '/createacct';">Click Here!</button>
        </div>
    </div>
{% endblock content %}
